.card {
  // 透视属性，营造向用户转过去的感觉，不加此属性，会平着转，
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  // 子元素设置absolute后脱离正常文档流，导致div.card高度消失，并且与float不同，无法使用clearfix，所以手动设置高度
  height: 52rem;

  &__side {
    font-size: 2rem;
    height: 52rem;
    transition: all 0.8s ease;
    // 定位，让两张卡片重合
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    // 定位后会收缩起来，需要设置宽度
    width: 100%;
    // 隐藏背后的那一面
    backface-visibility: hidden;
    // 为卡片添加圆角
    border-radius: 3px;
    // 设置背景图片后，图片会overflow盖住圆角
    overflow: hidden;
    box-shadow: 0 1.5rem 5rem rgba($color-black, 0.15);

    // 卡片的正面
    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
    }
  }

  // hover整个组件时，旋转side
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &__picture {
    background-size: cover;
    height: 23rem;
    // 混合background-image 滤镜
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    // clip-path可能会使overflow:hidden失效
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/nat-5.jpg);
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url(../img/nat-6.jpg);
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(../img/nat-7.jpg);
    }
  }

  &__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    // 让内部文字分行
    width: 75%;
  }

  // 注意不要写在上面的选择器内部，因为并不是card__heading的子元素
  &__heading-span {
    // 文字分行之后，只有第一行的开头和最后一行的末尾有padding，中间分行的地方并没有
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }

    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }

    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  &__cta {
    @include absCenter;
    text-align: center;
    width: 90%;
  }

  &__price-box {
    color: $color-white;
    margin-bottom: 8rem;
  }

  &__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
  }

  &__price-value {
    font-size: 6rem;
    // 很大的字体需要调细一些
    font-weight: 100;
  }

  // 把背面的卡片移到正面卡片的下方
  // 宽度在900px以下，或者，设备不支持hover
  // @include respond(tab-port) {
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    height: auto;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 1.5rem 5rem rgba($color-black, 0.15);

    &__side {
      height: auto;
      position: relative;
      // 去掉背面卡片的阴影，放到外层
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        // 裁剪背面卡片的上边缘
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
      }
    }

    // hover整个组件时，旋转side
    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__details {
      padding: 1rem 3rem;
    }

    &__cta {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 6rem;
    }
  }
}
